* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  /* border: aqua 2px solid; */
  overflow: hidden;
}

.gradient {
  
  background: linear-gradient(#00ffff, #fff);
}

header {
  background-color: #00ffff;
  text-align: center;
}

nav {
  background-color: rgb(1, 187, 187);
  border: aqua 2px solid;
}

.nav-section {
  /* display: block; */
  height: 50px;    
  font-size: 20px;
  font-weight: bold;
  border: aqua 1px solid;
  padding: 10px 5px;
}

section {
  background-color: aquamarine;
  height: 154px;
  border: 2px aqua solid;
  border-bottom: none;
  /* box-shadow: inset 0px -70px 40px rgb(255, 255, 255); */
}

.section-p {
  font-size: 18px;
  padding: 10px 10px;
  padding-bottom: 15px;
}

.images {
  border: 2px solid white;
}

aside div {
  background-color: aquamarine;
  border-bottom: none;
  /* height: 150px; */
  /* box-shadow: inset 0px -40px 40px rgb(255, 255, 255); */
}

.aside-heading {
  padding: 10px 10px;
}

.aside-text {
  padding: 15px 10px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: aqua;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  [class*="col-"] {
  float: left;
  width: 100%;
}
}

@media only screen and (min-width: 1001px) {
  [class*="col-"]{
    float: left;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  
}